/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&display=swap');

/* fonts */
$font-body: 'Open Sans', 'Arial', sans-serif;
$font-heading: 'Montserrat', 'Helvetica', 'Arial', sans-serif;

/* font sizes in rem */
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-21: 1.3125rem;
$font-22: 1.375rem;
$font-24: 1.5rem;
$font-32: 2rem;
$font-40: 2.5rem;
$font-48: 3rem;
$font-60: 3.75rem;
$font-80: 5rem;

/* body */
$body-font-size: $font-18;
$body-font-size-desktop: $font-20;

/* headings */
$h1-font-size: $font-32;
$h1-font-size-desktop: $font-48;
$h2-font-size: $font-24;
$h2-font-size-desktop: $font-32;
$h3-font-size: $font-21;
$h3-font-size-desktop: $font-24;
$h4-font-size: $font-18;
$h4-font-size-desktop: $font-20;

/* navigatio */
$nav-font-size: $font-16;
$nav-font-size-desktop: $font-18;


/* Spacings */
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 1rem;
$space-m: 1.25rem;
$space-l: 2rem;
$space-xl: 3rem;
$space-xxl: 4.5rem;

/* Borders */
$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.5rem;

$border-date-picker: 2px solid clr(border-date-picker);
 

/* Icons */
$icon-small: 2rem;
$icon-medium: 3rem;
$icon-large: 4rem;